### The climate model output can be retrieved via the same methods we worked through in unit5_models --- please refer back to that tutorial for working with CMIP6 data on Google Cloud Store and make the appropriate selection in the catalog to get your GFDL-ESM4 data that is required for the project.

In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import xarray as xr
import zarr  # to read in Zarr format
import gcsfs # to read google cloud data
import momlevel as ml
import cftime
import cmocean

In [2]:
xr.set_options(display_style='html')
%matplotlib inline                           
%config InlineBackend.figure_format='retina' 
plt.rcParams['figure.figsize'] = 12,6

In [3]:
google_cloud_cmip6 = pd.read_csv('https://storage.googleapis.com/cmip6/cmip6-zarr-consolidated-stores.csv')

In [4]:
google_cloud_cmip6

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
0,HighResMIP,CMCC,CMCC-CM2-HR4,highresSST-present,r1i1p1f1,Amon,ps,gn,gs://cmip6/CMIP6/HighResMIP/CMCC/CMCC-CM2-HR4/...,NaN,20170706
1,HighResMIP,CMCC,CMCC-CM2-HR4,highresSST-present,r1i1p1f1,Amon,rsds,gn,gs://cmip6/CMIP6/HighResMIP/CMCC/CMCC-CM2-HR4/...,NaN,20170706
2,HighResMIP,CMCC,CMCC-CM2-HR4,highresSST-present,r1i1p1f1,Amon,rlus,gn,gs://cmip6/CMIP6/HighResMIP/CMCC/CMCC-CM2-HR4/...,NaN,20170706
3,HighResMIP,CMCC,CMCC-CM2-HR4,highresSST-present,r1i1p1f1,Amon,rlds,gn,gs://cmip6/CMIP6/HighResMIP/CMCC/CMCC-CM2-HR4/...,NaN,20170706
4,HighResMIP,CMCC,CMCC-CM2-HR4,highresSST-present,r1i1p1f1,Amon,psl,gn,gs://cmip6/CMIP6/HighResMIP/CMCC/CMCC-CM2-HR4/...,NaN,20170706
...,...,...,...,...,...,...,...,...,...,...,...
523769,CMIP,EC-Earth-Consortium,EC-Earth3-Veg,historical,r1i1p1f1,Amon,tas,gr,gs://cmip6/CMIP6/CMIP/EC-Earth-Consortium/EC-E...,NaN,20211207
523770,CMIP,EC-Earth-Consortium,EC-Earth3-Veg,historical,r1i1p1f1,Amon,tauu,gr,gs://cmip6/CMIP6/CMIP/EC-Earth-Consortium/EC-E...,NaN,20211207
523771,CMIP,EC-Earth-Consortium,EC-Earth3-Veg,historical,r1i1p1f1,Amon,hur,gr,gs://cmip6/CMIP6/CMIP/EC-Earth-Consortium/EC-E...,NaN,20211207
523772,CMIP,EC-Earth-Consortium,EC-Earth3-Veg,historical,r1i1p1f1,Amon,hus,gr,gs://cmip6/CMIP6/CMIP/EC-Earth-Consortium/EC-E...,NaN,20211207
523773,CMIP,EC-Earth-Consortium,EC-Earth3-Veg,historical,r1i1p1f1,Amon,tauv,gr,gs://cmip6/CMIP6/CMIP/EC-Earth-Consortium/EC-E...,NaN,20211207

### Beginning of CM4 OMON

In [32]:
gfdl_cm4_H_tos_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-CM4' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'historical' & \
    member_id == 'r1i1p1f1' & \
    grid_label == 'gr1' "
)

In [33]:
gfdl_cm4_H_tos_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
8074,CMIP,NOAA-GFDL,GFDL-CM4,historical,r1i1p1f1,Amon,tas,gr1,gs://cmip6/CMIP6/CMIP/NOAA-GFDL/GFDL-CM4/histo...,NaN,20180701

In [34]:
gfdl_cm4_24_tos_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-CM4' & \
     table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'ssp245' & \
    member_id == 'r1i1p1f1' & \
    grid_label == 'gr1' "
)

In [35]:
gfdl_cm4_24_tos_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
2249,ScenarioMIP,NOAA-GFDL,GFDL-CM4,ssp245,r1i1p1f1,Amon,tas,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-CM...,NaN,20180701

In [36]:
gfdl_cm4_54_tos_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-CM4' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'ssp585' & \
    member_id == 'r1i1p1f1' & \
    grid_label == 'gr1' "
)

In [37]:
gfdl_cm4_54_tos_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
866,ScenarioMIP,NOAA-GFDL,GFDL-CM4,ssp585,r1i1p1f1,Amon,tas,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-CM...,NaN,20180701

### Beginning of ESM4 OMON

In [38]:
gfdl_ESM4_h_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-ESM4' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'historical' & \
    member_id == 'r1i1p1f1' & \
    grid_label == 'gr1' "
)

In [39]:
gfdl_ESM4_h_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
244695,CMIP,NOAA-GFDL,GFDL-ESM4,historical,r1i1p1f1,Amon,tas,gr1,gs://cmip6/CMIP6/CMIP/NOAA-GFDL/GFDL-ESM4/hist...,NaN,20190726

In [45]:
gfdl_esm4_tos_58_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-ESM4' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'ssp585' & \
    member_id == 'r1i1p1f1' & \
    grid_label == 'gr1' "
)

In [46]:
gfdl_esm4_tos_58_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
19008,ScenarioMIP,NOAA-GFDL,GFDL-ESM4,ssp585,r1i1p1f1,Amon,tas,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ES...,NaN,20180701

In [43]:
gfdl_esm4_tos_24_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-ESM4' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'ssp245' & \
    member_id == 'r1i1p1f1' & \
    grid_label == 'gr1' "
)

In [44]:
gfdl_esm4_tos_24_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
15454,ScenarioMIP,NOAA-GFDL,GFDL-ESM4,ssp245,r1i1p1f1,Amon,tas,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ES...,NaN,20180701

### Beginning of NCARR OMON

In [51]:
NCAR_CESM2_tos_24_data = google_cloud_cmip6.query(
    "source_id == 'CESM2-WACCM' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'ssp245' & \
    member_id == 'r1i1p1f1' "
)

In [50]:
NCAR_CESM2_tos_24_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
249726,ScenarioMIP,NCAR,CESM2-WACCM,ssp245,r1i1p1f1,Amon,tas,gn,gs://cmip6/CMIP6/ScenarioMIP/NCAR/CESM2-WACCM/...,NaN,20190815

In [52]:
NCAR_CESM2_tos_58_data = google_cloud_cmip6.query(
    "source_id == 'CESM2-WACCM' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'ssp585' & \
    member_id == 'r1i1p1f1' "
)

In [53]:
NCAR_CESM2_tos_58_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
458559,ScenarioMIP,NCAR,CESM2-WACCM,ssp585,r1i1p1f1,Amon,tas,gn,gs://cmip6/CMIP6/ScenarioMIP/NCAR/CESM2-WACCM/...,NaN,20200702

In [55]:
NCAR_CESM2_h_data = google_cloud_cmip6.query(
    "source_id == 'CESM2-WACCM' & \
    table_id == 'Amon' & \
    variable_id == 'tas' & \
    experiment_id == 'historical' & \
    member_id == 'r1i1p1f1' "
)

In [56]:
NCAR_CESM2_h_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
56326,CMIP,NCAR,CESM2-WACCM,historical,r1i1p1f1,Amon,tas,gn,gs://cmip6/CMIP6/CMIP/NCAR/CESM2-WACCM/histori...,NaN,20190227

# Beginning of load in 2

### Load in for GFDL CM4

In [62]:
gfdl_cm4_H_tao_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-CM4' & \
    variable_id == 'ta' & \
    table_id == 'Amon' & \
    experiment_id == 'historical' & \
    member_id == 'r1i1p1f1' "
)

In [63]:
gfdl_cm4_H_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
6728,CMIP,NOAA-GFDL,GFDL-CM4,historical,r1i1p1f1,Amon,ta,gr1,gs://cmip6/CMIP6/CMIP/NOAA-GFDL/GFDL-CM4/histo...,NaN,20180701

In [64]:
gfdl_cm4_245_tao_data =  google_cloud_cmip6.query(
    "source_id == 'GFDL-CM4' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'ssp245' & \
    member_id == 'r1i1p1f1'  "
)

In [65]:
gfdl_cm4_245_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
2250,ScenarioMIP,NOAA-GFDL,GFDL-CM4,ssp245,r1i1p1f1,Amon,ta,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-CM...,NaN,20180701

In [67]:
gfdl_cm4_54_tao_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-CM4' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'ssp585' & \
    member_id == 'r1i1p1f1'  "
)

In [68]:
gfdl_cm4_54_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
850,ScenarioMIP,NOAA-GFDL,GFDL-CM4,ssp585,r1i1p1f1,Amon,ta,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-CM...,NaN,20180701

### Load in ESM4

In [69]:
gfdl_ESM4_H_tao_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-ESM4' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'historical' & \
    member_id == 'r1i1p1f1'  "
)

In [70]:
gfdl_ESM4_H_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
244701,CMIP,NOAA-GFDL,GFDL-ESM4,historical,r1i1p1f1,Amon,ta,gr1,gs://cmip6/CMIP6/CMIP/NOAA-GFDL/GFDL-ESM4/hist...,NaN,20190726

In [73]:
gfdl_ESM4_245_tao_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-ESM4' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'ssp245' & \
    member_id == 'r1i1p1f1' "
)

In [74]:
gfdl_ESM4_245_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
15395,ScenarioMIP,NOAA-GFDL,GFDL-ESM4,ssp245,r1i1p1f1,Amon,ta,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ES...,NaN,20180701

In [75]:
gfdl_ESM4_585_tao_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-ESM4' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'ssp585' & \
    member_id == 'r1i1p1f1' "
)

In [76]:
gfdl_ESM4_585_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
19007,ScenarioMIP,NOAA-GFDL,GFDL-ESM4,ssp585,r1i1p1f1,Amon,ta,gr1,gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ES...,NaN,20180701

### Load In NCAR

In [79]:
NCAR_CESM2_585_tao_data = google_cloud_cmip6.query(
    "source_id == 'CESM2-WACCM' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'ssp585' & \
    member_id == 'r1i1p1f1' "
)

In [80]:
NCAR_CESM2_585_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
458594,ScenarioMIP,NCAR,CESM2-WACCM,ssp585,r1i1p1f1,Amon,ta,gn,gs://cmip6/CMIP6/ScenarioMIP/NCAR/CESM2-WACCM/...,NaN,20200702

In [81]:
NCAR_CESM2_245_tao_data = google_cloud_cmip6.query(
    "source_id == 'CESM2-WACCM' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'ssp245' & \
    member_id == 'r1i1p1f1' "
)

In [82]:
NCAR_CESM2_245_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
249724,ScenarioMIP,NCAR,CESM2-WACCM,ssp245,r1i1p1f1,Amon,ta,gn,gs://cmip6/CMIP6/ScenarioMIP/NCAR/CESM2-WACCM/...,NaN,20190815

In [83]:
NCAR_CESM2_H_tao_data = google_cloud_cmip6.query(
    "source_id == 'CESM2-WACCM' & \
    table_id == 'Amon' & \
    variable_id == 'ta' & \
    experiment_id == 'historical' & \
    member_id == 'r1i1p1f1'  "
)

In [84]:
NCAR_CESM2_H_tao_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
56327,CMIP,NCAR,CESM2-WACCM,historical,r1i1p1f1,Amon,ta,gn,gs://cmip6/CMIP6/CMIP/NCAR/CESM2-WACCM/histori...,NaN,20190227

## Load In 3

In [90]:
NCAR_CESM2_H_fx_data = google_cloud_cmip6.query(
    "source_id == 'CESM2-WACCM' & \
    table_id == 'fx' & \
    variable_id == 'sftlf' & \
    experiment_id == 'historical' & \
    member_id == 'r1i1p1f1'  "
)

In [91]:
NCAR_CESM2_H_fx_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
55980,CMIP,NCAR,CESM2-WACCM,historical,r1i1p1f1,fx,sftlf,gn,gs://cmip6/CMIP6/CMIP/NCAR/CESM2-WACCM/histori...,NaN,20190227

In [97]:
gfdl_ESM4_h_fx_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-ESM4' & \
    table_id == 'fx' & \
    experiment_id == 'land-hist' & \
    variable_id == 'sftlf' & \
    member_id == 'r1i1p1f1' "
)

In [98]:
gfdl_ESM4_585_fx_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
19688,LUMIP,NOAA-GFDL,GFDL-ESM4,land-hist,r1i1p1f1,fx,sftlf,gr1,gs://cmip6/CMIP6/LUMIP/NOAA-GFDL/GFDL-ESM4/lan...,NaN,20180701

In [106]:
gfdl_CM4_h_fx_data = google_cloud_cmip6.query(
    "source_id == 'GFDL-CM4' & \
    table_id == 'fx' & \
    experiment_id == 'historical' & \
    variable_id == 'sftlf' & \
    grid_label == 'gr1' &\
    member_id == 'r1i1p1f1' "
)

In [107]:
gfdl_CM4_h_fx_data

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
9517,CMIP,NOAA-GFDL,GFDL-CM4,historical,r1i1p1f1,fx,sftlf,gr1,gs://cmip6/CMIP6/CMIP/NOAA-GFDL/GFDL-CM4/histo...,NaN,20180701

# Convert to zarr

In [108]:
gcs = gcsfs.GCSFileSystem(token='anon')

In [109]:
zstore_gfdl_cm4_H_tos = gfdl_cm4_H_tos_data.zstore.values[-1]

In [110]:
zstore_gfdl_cm4_H_tos

'gs://cmip6/CMIP6/CMIP/NOAA-GFDL/GFDL-CM4/historical/r1i1p1f1/Amon/tas/gr1/v20180701/'

In [111]:
zstore_gfdl_cm4_24_tos = gfdl_cm4_24_tos_data.zstore.values[-1]

In [112]:
zstore_gfdl_cm4_24_tos

'gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-CM4/ssp245/r1i1p1f1/Amon/tas/gr1/v20180701/'

In [113]:
zstore_gfdl_cm4_54_to = gfdl_cm4_54_tos_data.zstore.values[-1]

In [114]:
zstore_gfdl_cm4_54_to

'gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-CM4/ssp585/r1i1p1f1/Amon/tas/gr1/v20180701/'

In [115]:
zstore_gfdl_ESM4_h = gfdl_ESM4_h_data.zstore.values[-1]

In [116]:
zstore_gfdl_ESM4_h

'gs://cmip6/CMIP6/CMIP/NOAA-GFDL/GFDL-ESM4/historical/r1i1p1f1/Amon/tas/gr1/v20190726/'

In [118]:
zstore_gfdl_esm4_tos_58 = gfdl_esm4_tos_58_data.zstore.values[-1]

In [119]:
zstore_gfdl_esm4_tos_58

'gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ESM4/ssp585/r1i1p1f1/Amon/tas/gr1/v20180701/'

In [121]:
zstore_gfdl_esm4_tos_24 = gfdl_esm4_tos_24_data.zstore.values[-1]

In [122]:
zstore_gfdl_esm4_tos_24

'gs://cmip6/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ESM4/ssp245/r1i1p1f1/Amon/tas/gr1/v20180701/'

In [124]:
zstore_NCAR_CESM2_tos_24 = NCAR_CESM2_tos_24_data.zstore.values[-1]

In [125]:
zstore_NCAR_CESM2_tos_24

'gs://cmip6/CMIP6/ScenarioMIP/NCAR/CESM2-WACCM/ssp245/r1i1p1f1/Amon/tas/gn/v20190815/'

In [126]:
zstore_NCAR_CESM2_tos_58 = NCAR_CESM2_tos_58_data.zstore.values[-1]

In [127]:
zstore_NCAR_CESM2_tos_58

'gs://cmip6/CMIP6/ScenarioMIP/NCAR/CESM2-WACCM/ssp585/r1i1p1f1/Amon/tas/gn/v20200702/'

In [129]:
zstore_NCAR_CESM2_h = NCAR_CESM2_h_data .zstore.values[-1]

In [130]:
zstore_NCAR_CESM2_h

'gs://cmip6/CMIP6/CMIP/NCAR/CESM2-WACCM/historical/r1i1p1f1/Amon/tas/gn/v20190227/'

In [111]:
zstore_NCAR_CESM2_h = NCAR_CESM2_h_data .zstore.values[-1]

In [131]:
zstore_NCAR_CESM2_h

'gs://cmip6/CMIP6/CMIP/NCAR/CESM2-WACCM/historical/r1i1p1f1/Amon/tas/gn/v20190227/'

## ZARR 2 begins

In [132]:
zstore_NCAR_CESM2_h = gfdl_cm4_H_tao_data.zstore.values[-1]

In [133]:
zstore_NCAR_CESM2_h = gfdl_cm4_245_tao_data.zstore.values[-1]

In [134]:
zstore_NCAR_CESM2_h = gfdl_cm4_54_tao_data.zstore.values[-1]

In [135]:
zstore_NCAR_CESM2_h = gfdl_ESM4_H_tao_data.zstore.values[-1]

In [136]:
zstore_NCAR_CESM2_h = gfdl_ESM4_245_tao_data.zstore.values[-1]

In [137]:
zstore_NCAR_CESM2_h = NCAR_CESM2_585_tao_data.zstore.values[-1]